{% extends "layouts/layout-tow-columns.html.twig" %}

{% block content_left_container %}

{% endblock %}

{% block content_container %}
	<div class="col">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block content_right_container %}

{% endblock %}
